Makefile
**/.env
**/.env*
!back-end/.env.example
!front-end/.env.example
node_modules
dist
.DS_Store
.vscode
.idea
coverage
dist-ssr
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
*.local
dist-ssr
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
*.local
.claude
.vscode
.kiro
.trae
