services:
  db:
    image: postgres:16-alpine
    container_name: app_postgres
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: ${DB_USER:-app_user}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-app_password}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  api:
    build:
      context: ./back-end
    env_file:
      - ./.env.backend
    ports:
      - "3000:3000"
    depends_on:
      - db

  web:
    build:
      context: .
      dockerfile: front-end/Dockerfile
    depends_on:
      - api
    ports:
      - "8080:80"

volumes:
  postgres_data:
